.video-wrapper {
  width: 100%;
  aspect-ratio: 16/9;

}

.video-player {
  width: 100%;
  height: 70vh;
  border: none;
  outline: none;
}

.video-player:focus {
  outline: none;
}

.input-wrapper {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #9000ff65;
  margin-bottom: 10px;
}

.title {
  font-weight: bold;
  margin-block: .5rem;
  text-align: center;
  max-width: 100vw;
  overflow: hidden;
}

.control-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: .5rem;
  gap: 1rem;
}

.control-wrapper>* {
  border-radius: 5px;
  min-height: 100%;
  max-width: 100vw;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .control-wrapper {
    flex-direction: column;
  }

  .video-player {
    height: 100%;
  }

}

.toast-msg {
  background-color: rgba(144, 0, 255, 0.4) !important;
}

.toast-play {
  background-color: rgba(0, 255, 217, 0.4) !important;
}

.toast-pause {
  background-color: rgba(255, 0, 85, 0.4) !important;
}