.iframe {
  border: none;
  width: 90vw;
  height: 90vh;
  margin-top: 1rem;
}

.season-episode {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: 1rem;
  width: min(90vw, 800px);
}

@media (max-width: 800px) {
  .season-episode {
    flex-direction: column;
    align-items: flex-start;
    margin-inline: 0.5rem;
  }
  .iframe {
    width: 100vw;
    height: 50vh;
  }
}
