.search-wrapper {
  margin-bottom: 2rem;
  margin-inline: 10vw;
  padding-top: 1.5rem;
  padding-inline: 0.2rem;
  width: 80%;
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.anime {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.anime > input {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.search > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.status {
  margin-top: 0.5rem;
  text-align: center;
  min-height: 2rem;
}

.paste {
  margin-bottom: 1.5rem;
}

.paste > button {
  margin-top: 0px;
}

.paste-form {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.copy-history-section {
  margin-bottom: 0.5rem;
}
.copy-history {
  margin-bottom: 0.5rem;
}

.drop-down {
  white-space: no-wrap;
  cursor: pointer;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  white-space: no-wrap;
  height: 0px;
  width: 0px;
  display: inline-block;
  border-top: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  border-right: 0.5rem solid var(--text-color);
  position: relative;
  margin-right: 0.5rem;
  transition: transform 0.2s ease-in-out;
}

.open {
  transform: rotate(-90deg);
}
.paste-form > button {
  flex: 1;
  margin-top: 0px;
}
.paste-input {
  width: 100%;
  max-width: 100%;
  font-size: 0.82rem;
  padding: 0.5rem;
  flex: 2;
}

@media (max-width: 800px) {
  .search-wrapper {
    margin-inline: 0.5rem;
    width: 100%;
    margin-bottom: 0;
    padding-inline: 0;
  }
  .search {
    flex-direction: column;
    gap: 0.5rem;
  }
  .paste {
    padding-inline: 0.5rem;
  }
}
