.search-wrapper {
  margin-bottom: 2rem;
  max-width: 1200px;
  width: 100%;
}
.search {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1rem;
}

.search > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.status {
  margin-top: 1rem;
  text-align: center;
  min-height: 2rem;
}
