.search-wrapper {
  margin-bottom: 2rem;
  margin-inline: 10vw;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-inline: 0.2rem;
  width: 80%;
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.search > input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.status {
  margin-top: 0.5rem;
  text-align: center;
  min-height: 2rem;
}

@media (max-width: 800px) {
  .search-wrapper {
    margin-inline: 0.5rem;
    width: 100%;
    margin-bottom: 0;
    padding-inline: 0;
  }
  .search {
    flex-direction: column;
    gap: 0.5rem;
  }
}
