.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav a:hover::before {
  width: 100%;
}

/* light mode */
@media (prefers-color-scheme: light) {
  .nav a {
    color: #333;
  }

  .nav a::before {
    background-color: #333;
  }

  .nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .nav a.active {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

