.wrapper-history {
  margin-top: 2rem;
  padding-inline: 20px;
  width: 100vw;
  --left-color: rgba(204, 0, 187, 0);
  --right-color: rgba(0, 70, 209, 0);
  position: relative;
  background: linear-gradient(
      218.73deg,
      var(--left-color) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(321.27deg, rgba(0, 70, 209, 0) 50%, var(--right-color) 100%);
  background-color: rgb(var(--background-end-rgb));
}
