.search-result-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  /* gap: 2rem; */
  margin-bottom: 4rem;
  overflow-y: scroll;
}
.search-result-wrapper .card {
  --x: 100%;
  --y: 1rem;
}
.cards {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  padding-inline: 30px;
  gap: 1.5rem;
  padding-top: 2.5rem;
  overflow-x: scroll;
  overflow-y: visible;
  padding-inline: 2rem;
  margin-bottom: 2rem;
}

.cards::-webkit-scrollbar {
  display: none;
}
.card-wrapper {
  cursor: pointer;
}
.card-wrapper > .card {
  animation: rotate-slightly-reverse 1.3s ease-out forwards;
}
.card-wrapper:hover > .card {
  animation: rotate-slightly 1.3s ease-out forwards;
}

.card {
  --x: 1rem;
  --y: calc(100% - 1rem);
  transform-origin: var(--x) var(--y);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 250px;
  width: min(250px, 100%);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  z-index: 100;
  transform-style: preserve-3d;
  perspective: 1000;
  animation: none;
}
/* .rotate-slightly-reverse {
  animation: rotate-slightly-reverse 1.3s ease-out forwards;
}
.rotate-slightly {
  animation: rotate-slightly 1.3s ease-out forwards;
} */
/* .card:nth-child(even) {

} */
.card:hover {
  background-color: transparent;
  z-index: 100;
  animation: none;
}

@keyframes jello {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rotate-slightly {
  /* 0% {
    transform: rotate(0deg) translateY(0px);
  }
  20% {
    transform: rotate(-7.5deg) translateY(-15px);
  }
  40% {
    transform: rotate(-2.5deg) translateY(-5px);
  }
  55% {
    transform: rotate(-6.5deg) translateY(-013px);
  }
  65% {
    transform: rotate(-3.5deg) translateY(-007px);
  }
  75% {
    transform: rotate(-6deg) translateY(-12px);
  }
  85% {
    transform: rotate(-4deg) translateY(-8px);
  }
  100% {
    transform: rotate(-5deg) translateY(-10px);
  } */

  0% {
    transform: rotate(0deg) translateY(0px);
  }
  12.5% {
    transform: rotate(-7.5deg) translateY(-15px);
  }
  25% {
    transform: rotate(-2.5deg) translateY(-5px);
  }
  37.5% {
    transform: rotate(-6.5deg) translateY(-013px);
  }
  50% {
    transform: rotate(-3.5deg) translateY(-007px);
  }
  62.5% {
    transform: rotate(-6deg) translateY(-12px);
  }
  75% {
    transform: rotate(-4deg) translateY(-8px);
  }
  87.5% {
    transform: rotate(-5.5deg) translateY(-10px);
  }
  100% {
    transform: rotate(-5deg) translateY(-10px);
  }
}

@keyframes rotate-slightly-reverse {
  0% {
    transform: rotate(-5deg) translateY(-10px);
  }
  12.5% {
    transform: rotate(2.5deg) translateY(5px);
  }
  25% {
    transform: rotate(-2.5deg) translateY(-5px);
  }
  37.5% {
    transform: rotate(1.5deg) translateY(3px);
  }
  50% {
    transform: rotate(-1.5deg) translateY(-3px);
  }
  62.5% {
    transform: rotate(1deg) translateY(2px);
  }
  75% {
    transform: rotate(-1deg) translateY(-2px);
  }
  87.5% {
    transform: rotate(0.5deg) translateY(1px);
  }
  100% {
    transform: rotate(0deg) translateY(0px);
  }
}
.card > h4 {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}
.img-title {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  height: 370px;
  width: min(250px, 100%);
  border-radius: 5px;
}
.card:hover .title,
.card:focus-within .title,
.card:active .title {
  top: 50%;
  bottom: 0;
}

.img-title > img {
  height: 100%;
  width: 100%;
  pointer-events: none;
  object-fit: cover;
  border-radius: 5px;
}

.title {
  position: absolute;
  min-height: 20%;
  width: 100%;
  top: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 5px;
  padding: 1rem;
  display: grid;
  place-items: center;
  transition: top 0.3s ease-in-out;
  color: white;
  text-shadow: 3px 3px 5px #020047dc;
}
.title > h2 {
  text-align: center;
  font-size: 1.2rem;
}

/* @media (max-width: 800px) {
  .title {
    top: auto;
    bottom: 0;
    gap: 0.5rem;
    min-height: fit-content;
    display: none;
  }
  .title > * {
    display: none;
  }
  .title > h2 {
    font-size: 1rem;
    display: inline;
  }
} */

.cross {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 25px;
  height: 25px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  display: none;
  place-items: center;
  transition: all 0.3s ease-in-out;
}
.card.card:focus-within .cross,
.card:hover .cross {
  display: grid;
}
.cross:hover {
  background-color: #645bff;
  transform: scale(1.1);
}
.cross > svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.history {
  display: flex;
  justify-content: stretch;
  align-items: center;
  gap: 1rem;
}
.history > h1 {
  white-space: nowrap;
}
.copy-history {
  display: none;
}
.history:hover .copy-history {
  display: block;
}
@media (max-width: 800px) {
  .cross {
    display: grid;
    width: 40px;
    height: 40px;
  }
  .cross > svg {
    width: 30px;
    height: 30px;
  }
  .history {
    flex-direction: column;
    gap: 0.5rem;
  }
  .history > h1 {
    white-space: unset;
    text-align: center;
    text-decoration: underline;
  }
}
