.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-block: 1rem;
  min-height: 100vh;
  /* --left-color: rgba(204, 0, 187, 0.25);
  --right-color: rgba(0, 70, 209, 0.25); */
  /* background: linear-gradient(218.73deg, rgba(204, 0, 187, 0.25) 0%, rgba(201, 32, 184, 0) 50%),
    linear-gradient(321.27deg, rgba(0, 70, 209, 0) 50%, rgba(0, 70, 209, 0.25) 100%); */
  --left-color: rgba(204, 0, 187, 0.25);
  --right-color: rgba(0, 70, 209, 0.25);
  position: relative;
  background: linear-gradient(
      218.73deg,
      var(--left-color) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(321.27deg, rgba(0, 70, 209, 0) 50%, var(--right-color) 100%);
  background-color: rgb(var(--background-end-rgb));
  /* max-height: 100vh;
  overflow-y: scroll; */
}
/* 
.main button {
  background: linear-gradient(
      218.73deg,
      var(--left-color) 0%,
      rgba(201, 32, 184, 0) 50%
    ),
    linear-gradient(321.27deg, rgba(0, 70, 209, 0) 50%, var(--right-color) 100%);
  background-color: var(--background-transparent);
} */
.cards {
  display: flex;
  overflow-x: scroll;
  max-width: 100vw;
}
